
<h1>Car Prices</h1>


<h1> </h1>

<table >

	<tr>
		<th>Model </th><th> VIN </th>
	</tr>
	<% Car.all.distinct(:vin).each do |c| %>
		
		<tr>
			<td> <%= c.model  %> </td>
			<td><%= link_to(c.vin, history_path(vin: c.vin))  %> </td>

		</tr> 
	<% end %>

	


</table>